.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movieDetails {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 20px;
}

.movieDetailsImage {
  width: 300px;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.movieDetailsInfo {
  flex: 1;
  max-width: calc(100% - 340px);
}

.movieDetailsInfoTitle {
  font-size: 36px;
  margin-bottom: 10px;
  color: #fff;
}

.movieDetailsInfoText {
  font-size: 18px;
  margin-bottom: 15px;
  color: #b6b6b6;
}

.movieDetailsInfoSubtitle {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #fff;
}

.additionalInfo {
  margin-top: 20px;
}

.additionalInfoTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-bottom: 10px;
  color: #fff;
}

.additionalInfoUl {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.additionalInfoItem {
  margin-bottom: 10px;
  margin-right: 10px;
}

.additionalInfoLink {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.additionalInfoLink:hover {
  text-decoration: underline;
  color: #e50914;
}
