.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movieRewiewsTitle {
  color: #fff;
  margin-bottom: 20px;
}

.reviewAuthor {
  color: #fff;
  margin-bottom: 5px;
}

.reviewContent {
  color: #b6b6b6;
  font-size: 14px;
}

.rewiewNotFound {
  color: #fff;
}
